<div class="row">
	<div class="span">

		<h2>
			<strong>What is the perceived relation between words? <br></strong>
			This is still a complex issue for semantic specialists. The Mind
			Paths experiment uses a video-game in order to create a semantic map
			where volunteers define the distances between words. Semantic
			analysis is a major challenge for science and innovation as it's a
			complex task requiring advanced models and experts validations.
		</h2>

		<div style="text-align: center">
			<img src="/semantics/images/mindpaths_screen.png"
				style="width: 460px">
		</div>

		<h2>Start selecting which words lead from one fixed starting word
			to the goal word to create a visual map of distance between words.
			The results of this research will be important for the scientific as well
			as the business world with lots of applications being based on
			semantic analysis.</h2>

	</div>
	<div class="span">
		<h2>
			<strong>Background</strong>
		</h2>
		<p>Since the work by Quillian in the late ‘60s, the view of
			semantic memory as a networked structure has provided a valuable
			collection of scientific results. As the scientific community has
			learned what such network looks like (its structural features), the
			interest is shifting towards understanding how this structure is used
			(the dynamics on it). Of course, processes on semantic networks can
			be (and have been) simulated via &quot;synthetic&quot; dynamics, such
			as random walks (see Borge-Holthoefer, J. and Arenas, A. (2010)
			&quot;Categorizing words through semantic memory navigation&quot;,
			EPJB, 74(2), 265). But we have few empirical evidence of how humans
			actually navigate their &quot;semantic landscape&quot;.</p>

		<p>
			This is where Citizen Science comes in. Capitalizing on a previous,
			small-scale experiment (see Beckage, N. et al. (2009) &quot;Route
			choice in individuals-semantic network navigation&quot;, Proc. 34th
			An. Conf. Cognitive Science Society, 108), <b>Mind Paths</b>
			—promoted from the <a href="http://cosnet.bifi.es/" target="_blank">Cosnet
				Lab</a>— intends to collect data from subjects around the world
			regarding their strategies to navigate the semantic landscape. In <b>Mind
				Paths</b>, for a given Source and a Target, volunteers are asked to
			build a path of intermediate words that connect them.
		</p>

		<p>In the long run, the obtained data (which is publicly
			available, as that is the philosophy underlying the concept of
			Citizen Science) will help scholars to understand what sort of
			heuristics we exploit to efficiently manage our intricate structure
			of concepts.</p>

		Leading Researcher: <a href="http://bifi.es/~borge/" target="_blank">Javier
			Borge-Holthoefer</a> Research Group: <a href="http://cosnet.bifi.es/"
			target="_blank"><img src="/semantics/images/cosnet_logo.png"
			style="height: 52px;"></a>
	</div>
</div>